In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [12]:
scraper1 = pd.read_csv('scrapers/scraper1.csv')
scraper2 = pd.read_csv('scrapers/scraper2.csv')

dataset = pd.concat([scraper1, scraper2])

dataset['link'] = dataset.apply(lambda row: 0 if pd.isna(row['link/uri']) else 1, axis=1)
dataset['image'] = dataset.apply(lambda row: 0 if pd.isna(row['images/0/alt']) else 1, axis=1)

dataset = dataset[['text', 'repostCount', 'replyCount', 'link', 'image', 'createdAt']]
dataset['depressive'] = 0

dataset.head()

,text,repostCount,replyCount,link,image,createdAt,depressive
0,you are worthy even if you:\n\nare battling de...,3,1,0,1,2024-10-12T21:52:30.121Z,0
1,Well dunno really \nJust saw them posting suic...,0,1,0,0,2023-09-03T03:07:41.109Z,0
2,There was a claim — maybe a rumor — that three...,60,41,0,0,2024-11-08T19:21:39.224Z,0
3,#SuicidePrevention #Depression #Anxiety #Bully...,0,0,1,0,2022-03-16T13:10:05Z,0
4,ah shit damn guess i should have just been kil...,0,2,0,0,2024-09-06T22:19:19.694Z,0

In [14]:
dataset.to_csv('dataset.csv')